html {
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	background-color: #98b4cf;

}
body {
	width: 500px;
    text-shadow:0px 5px 5px 5px grey;
	color:khaki;
    display:blueviolet;
	margin: 0 auto;
	background-color: #f3aeae;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
}
h1 {
	font-size: 60px;
	text-align: center;
}
p, li {
	font-size: 30px;
	line-height: 2;
	letter-spacing: 1px;
}